<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>index</key>
	<array>
		<dict>
			<key>action</key>
			<string>copy</string>
			<key>down</key>
			<dict>
				<key>action</key>
				<string>selectAll</string>
			</dict>
			<key>enable</key>
			<true/>
			<key>image</key>
			<string>arrow.down.doc</string>
			<key>subPrimary</key>
			<false/>
			<key>subs</key>
			<array/>
			<key>up</key>
			<dict>
				<key>action</key>
				<string>cut</string>
			</dict>
		</dict>
		<dict>
			<key>action</key>
			<string>paste</string>
			<key>down</key>
			<dict>
				<key>action</key>
				<string>copyvault</string>
			</dict>
			<key>enable</key>
			<true/>
			<key>image</key>
			<string>arrow.up.doc</string>
			<key>left</key>
			<dict>
				<key>action</key>
				<string>paste</string>
			</dict>
			<key>right</key>
			<dict>
				<key>action</key>
				<string>paste</string>
			</dict>
			<key>subPrimary</key>
			<false/>
			<key>subs</key>
			<array>
				<dict>
					<key>action</key>
					<string>selectAllPaste</string>
				</dict>
			</array>
			<key>up</key>
			<dict>
				<key>action</key>
				<string>selectAllPaste</string>
			</dict>
		</dict>
		<dict>
			<key>action</key>
			<string>cursorMoveRight</string>
			<key>down</key>
			<dict>
				<key>action</key>
				<string>endOfDocument</string>
			</dict>
			<key>left</key>
			<dict>
				<key>action</key>
				<string>selectionRightMoveLeft</string>
			</dict>
			<key>right</key>
			<dict>
				<key>action</key>
				<string>selectionRightMoveRight</string>
			</dict>
			<key>subPrimary</key>
			<false/>
			<key>up</key>
			<dict>
				<key>action</key>
				<string>cursorMoveDown</string>
			</dict>
		</dict>
		<dict>
			<key>action</key>
			<string>insertText</string>
			<key>down</key>
			<dict>
				<key>action</key>
				<string>selectAll</string>
			</dict>
			<key>enable</key>
			<true/>
			<key>insertText</key>
			<string>遥遥领先</string>
			<key>subPrimary</key>
			<true/>
			<key>subs</key>
			<array>
				<dict>
					<key>action</key>
					<string>insertText</string>
					<key>insertText</key>
					<string>「{{CURSOR}}」</string>
					<key>title</key>
					<string>「光标」(执行后看看光标位置)</string>
				</dict>
				<dict>
					<key>action</key>
					<string>insertText</string>
					<key>insertText</key>
					<string>「{{SELECTION}}」</string>
					<key>title</key>
					<string>「选区」(选择文字后试试)</string>
				</dict>
				<dict>
					<key>action</key>
					<string>insertText</string>
					<key>insertText</key>
					<string>「{{PASTEBOARD}}」</string>
					<key>title</key>
					<string>「剪贴板」(复制文字后试试)</string>
				</dict>
				<dict>
					<key>action</key>
					<string>insertText</string>
					<key>insertText</key>
					<string>「遥遥领先」</string>
					<key>title</key>
					<string>「遥遥领先」(无变量，所填即所得)</string>
				</dict>
				<dict>
					<key>action</key>
					<string>insertText</string>
					<key>insertText</key>
					<string>「{{SELECTION}}{{CURSOR}}」</string>
					<key>title</key>
					<string>「选区光标」(可组合变量)</string>
				</dict>
				<dict>
					<key>action</key>
					<string>insertText</string>
					<key>insertText</key>
					<string>「{{SELECTION}}{{PASTEBOARD}}{{CURSOR}}」</string>
					<key>title</key>
					<string>「选区剪贴板光标」(可组合变量)</string>
				</dict>
				<dict>
					<key>action</key>
					<string>insertText</string>
					<key>insertText</key>
					<string>「{{CURSOR}}{{PASTEBOARD}}」</string>
					<key>title</key>
					<string>「光标剪贴板」(可组合变量)</string>
				</dict>
				<dict>
					<key>action</key>
					<string>insertText</string>
					<key>insertText</key>
					<string>async function main(str) {
    return str{{CURSOR}};
}</string>
					<key>title</key>
					<string>｛脚本框架｝</string>
				</dict>
				<dict>
					<key>action</key>
					<string>insertText</string>
					<key>insertText</key>
					<string>去添加属于你自己的便捷输入吧</string>
					<key>title</key>
					<string>以下均为示例作为参考</string>
				</dict>
			</array>
			<key>up</key>
			<dict>
				<key>action</key>
				<string>select</string>
			</dict>
		</dict>
		<dict>
			<key>action</key>
			<string>dismissKeyboard</string>
			<key>down</key>
			<dict>
				<key>action</key>
				<string>recoverEmpty</string>
			</dict>
			<key>enable</key>
			<true/>
			<key>left</key>
			<dict>
				<key>action</key>
				<string>insertEnter</string>
			</dict>
			<key>right</key>
			<dict>
				<key>action</key>
				<string>dismissKeyboard</string>
			</dict>
			<key>subPrimary</key>
			<false/>
			<key>subs</key>
			<array>
				<dict>
					<key>action</key>
					<string>undo</string>
				</dict>
				<dict>
					<key>action</key>
					<string>redo</string>
				</dict>
			</array>
			<key>up</key>
			<dict>
				<key>action</key>
				<string>empty</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
