<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BlurValue</key>
	<integer>2</integer>
	<key>EnableVerifyApps</key>
	<false/>
	<key>EnableVerifyWifi_Hide</key>
	<true/>
	<key>HideApp</key>
	<false/>
	<key>HideApp--1224</key>
	<string>YES</string>
	<key>HideApp-FAF71FFB-D1BE-4248-8A24-2FD1508481E0</key>
	<string>YES</string>
	<key>HideApp-IFLYTEK.EPPD.PSC</key>
	<string>YES</string>
	<key>HideApp-chs.fj.keruidi-team.ChsToUy</key>
	<string>YES</string>
	<key>HideApp-cn.10086.app</key>
	<string>YES</string>
	<key>HideApp-cn.cyberIdentity.certification</key>
	<string>YES</string>
	<key>HideApp-cn.fkj233.airplayreceiver</key>
	<string>YES</string>
	<key>HideApp-cn.gblw.AppsDump</key>
	<string>YES</string>
	<key>HideApp-cn.zqbb.hello.bundleid</key>
	<string>YES</string>
	<key>HideApp-com.aapl.relaxin</key>
	<string>YES</string>
	<key>HideApp-com.alipay.iphoneclient</key>
	<string>YES</string>
	<key>HideApp-com.amywhile.Aemulo</key>
	<string>YES</string>
	<key>HideApp-com.ant.deep</key>
	<string>YES</string>
	<key>HideApp-com.antgroup.aijk.iphone</key>
	<string>YES</string>
	<key>HideApp-com.app.freshGuard</key>
	<string>YES</string>
	<key>HideApp-com.apple.AppStore</key>
	<string>NO</string>
	<key>HideApp-com.apple.DocumentsApp</key>
	<string>NO</string>
	<key>HideApp-com.apple.Fitness</key>
	<string>YES</string>
	<key>HideApp-com.apple.Health</key>
	<string>NO</string>
	<key>HideApp-com.apple.Home</key>
	<string>NO</string>
	<key>HideApp-com.apple.Magnifier</key>
	<string>YES</string>
	<key>HideApp-com.apple.Maps</key>
	<string>NO</string>
	<key>HideApp-com.apple.MobileAddressBook</key>
	<string>NO</string>
	<key>HideApp-com.apple.MobileSMS</key>
	<string>NO</string>
	<key>HideApp-com.apple.Passbook</key>
	<string>NO</string>
	<key>HideApp-com.apple.Preferences</key>
	<string>NO</string>
	<key>HideApp-com.apple.PreviewShell</key>
	<string>YES</string>
	<key>HideApp-com.apple.RealityComposer</key>
	<string>YES</string>
	<key>HideApp-com.apple.Translate</key>
	<string>NO</string>
	<key>HideApp-com.apple.VoiceMemos</key>
	<string>NO</string>
	<key>HideApp-com.apple.appleseed.FeedbackAssistant</key>
	<string>YES</string>
	<key>HideApp-com.apple.calculator</key>
	<string>YES</string>
	<key>HideApp-com.apple.camera</key>
	<string>NO</string>
	<key>HideApp-com.apple.compass</key>
	<string>YES</string>
	<key>HideApp-com.apple.findmy</key>
	<string>NO</string>
	<key>HideApp-com.apple.freeform</key>
	<string>NO</string>
	<key>HideApp-com.apple.measure</key>
	<string>NO</string>
	<key>HideApp-com.apple.mobilecal</key>
	<string>NO</string>
	<key>HideApp-com.apple.mobilemail</key>
	<string>NO</string>
	<key>HideApp-com.apple.mobilenotes</key>
	<string>NO</string>
	<key>HideApp-com.apple.mobilephone</key>
	<string>NO</string>
	<key>HideApp-com.apple.mobilesafari</key>
	<string>NO</string>
	<key>HideApp-com.apple.mobileslideshow</key>
	<string>NO</string>
	<key>HideApp-com.apple.mobiletimer</key>
	<string>NO</string>
	<key>HideApp-com.apple.reminders</key>
	<string>NO</string>
	<key>HideApp-com.apple.shortcuts</key>
	<string>NO</string>
	<key>HideApp-com.apple.siri</key>
	<string>YES</string>
	<key>HideApp-com.apple.stocks</key>
	<string>NO</string>
	<key>HideApp-com.apple.supportapp</key>
	<string>YES</string>
	<key>HideApp-com.apple.tips</key>
	<string>NO</string>
	<key>HideApp-com.apple.weather</key>
	<string>NO</string>
	<key>HideApp-com.apple.webapp</key>
	<string>YES</string>
	<key>HideApp-com.appworks.audiobook.radio</key>
	<string>YES</string>
	<key>HideApp-com.baidu.netdisk</key>
	<string>YES</string>
	<key>HideApp-com.beans.app</key>
	<string>YES</string>
	<key>HideApp-com.bhupesh.relaxingtanglepro</key>
	<string>YES</string>
	<key>HideApp-com.bot.doubao</key>
	<string>YES</string>
	<key>HideApp-com.breeze.sandy</key>
	<string>YES</string>
	<key>HideApp-com.bull.salt</key>
	<string>YES</string>
	<key>HideApp-com.callassist.batteryinfolist</key>
	<string>NO</string>
	<key>HideApp-com.ccb.ccbDemo</key>
	<string>YES</string>
	<key>HideApp-com.cherry.vista</key>
	<string>YES</string>
	<key>HideApp-com.chinatower.towerEle</key>
	<string>YES</string>
	<key>HideApp-com.chinaunicom.mobilebusiness</key>
	<string>YES</string>
	<key>HideApp-com.cmcc.zhihuiguanjia</key>
	<string>YES</string>
	<key>HideApp-com.cnpc.iccard.query.app</key>
	<string>YES</string>
	<key>HideApp-com.comcsoft.izippro</key>
	<string>YES</string>
	<key>HideApp-com.crab.den</key>
	<string>YES</string>
	<key>HideApp-com.cyjh.yy</key>
	<string>YES</string>
	<key>HideApp-com.dahuatech.app.dahuaChannel</key>
	<string>YES</string>
	<key>HideApp-com.dahuatech.configtools</key>
	<string>YES</string>
	<key>HideApp-com.dahuatech.lecheng</key>
	<string>YES</string>
	<key>HideApp-com.dave1482.PowerApp</key>
	<string>YES</string>
	<key>HideApp-com.delta.gold</key>
	<string>YES</string>
	<key>HideApp-com.developlab.AnimationSpeed</key>
	<string>YES</string>
	<key>HideApp-com.developlab.CellularInfo</key>
	<string>YES</string>
	<key>HideApp-com.ear.bend</key>
	<string>YES</string>
	<key>HideApp-com.ember.vale</key>
	<string>YES</string>
	<key>HideApp-com.example.piliplus</key>
	<string>YES</string>
	<key>HideApp-com.feisuo.jxzs</key>
	<string>YES</string>
	<key>HideApp-com.fern.pure</key>
	<string>YES</string>
	<key>HideApp-com.flame.leaf</key>
	<string>YES</string>
	<key>HideApp-com.fox.fair</key>
	<string>YES</string>
	<key>HideApp-com.geely.consumer</key>
	<string>YES</string>
	<key>HideApp-com.goat.plume</key>
	<string>YES</string>
	<key>HideApp-com.goat.summit</key>
	<string>YES</string>
	<key>HideApp-com.hikvision.videogo</key>
	<string>NO</string>
	<key>HideApp-com.hmmzzz.fontmanager</key>
	<string>YES</string>
	<key>HideApp-com.hmmzzz.marktheme</key>
	<string>YES</string>
	<key>HideApp-com.intsig.CamScannerLite</key>
	<string>YES</string>
	<key>HideApp-com.iosdump.Debs.Debs</key>
	<string>YES</string>
	<key>HideApp-com.ivanobilenchi.icleaner</key>
	<string>YES</string>
	<key>HideApp-com.juniper.den</key>
	<string>YES</string>
	<key>HideApp-com.kdt.livecontainer</key>
	<string>YES</string>
	<key>HideApp-com.kingsoft.www.office.wpsoffice</key>
	<string>YES</string>
	<key>HideApp-com.kite.flower</key>
	<string>YES</string>
	<key>HideApp-com.lagoon.core</key>
	<string>YES</string>
	<key>HideApp-com.le4.demo</key>
	<string>YES</string>
	<key>HideApp-com.lumiunited.pre.homekit</key>
	<string>YES</string>
	<key>HideApp-com.macxk.HDDJ</key>
	<string>YES</string>
	<key>HideApp-com.markmcguill.strongbox.pro</key>
	<string>YES</string>
	<key>HideApp-com.meituan.imeituan</key>
	<string>YES</string>
	<key>HideApp-com.mfcloudcalculate.123networkdisk</key>
	<string>YES</string>
	<key>HideApp-com.minh-ton.Reynard</key>
	<string>YES</string>
	<key>HideApp-com.mlgm.idata</key>
	<string>YES</string>
	<key>HideApp-com.mlgm.ilog</key>
	<string>YES</string>
	<key>HideApp-com.moon.long</key>
	<string>YES</string>
	<key>HideApp-com.moth.echo</key>
	<string>YES</string>
	<key>HideApp-com.north.fast</key>
	<string>YES</string>
	<key>HideApp-com.ocean.lake</key>
	<string>YES</string>
	<key>HideApp-com.opa334.TrollStore</key>
	<string>YES</string>
	<key>HideApp-com.openminis.app</key>
	<string>YES</string>
	<key>HideApp-com.orbit.fable</key>
	<string>YES</string>
	<key>HideApp-com.ownbook.notes</key>
	<string>YES</string>
	<key>HideApp-com.park.bit</key>
	<string>YES</string>
	<key>HideApp-com.pine.marshy</key>
	<string>YES</string>
	<key>HideApp-com.qianuo.smartdeck.app</key>
	<string>YES</string>
	<key>HideApp-com.qp333.carep</key>
	<string>YES</string>
	<key>HideApp-com.quark.browser</key>
	<string>YES</string>
	<key>HideApp-com.roothide.manager</key>
	<string>YES</string>
	<key>HideApp-com.roothide.patcher</key>
	<string>YES</string>
	<key>HideApp-com.shadowloc.eric</key>
	<string>YES</string>
	<key>HideApp-com.sheep.branchlet</key>
	<string>YES</string>
	<key>HideApp-com.shell.wide</key>
	<string>YES</string>
	<key>HideApp-com.slate.edge</key>
	<string>YES</string>
	<key>HideApp-com.soda.music</key>
	<string>YES</string>
	<key>HideApp-com.ss.iphone.ugc.Aweme</key>
	<string>YES</string>
	<key>HideApp-com.ssreader.ChaoXingStudy</key>
	<string>YES</string>
	<key>HideApp-com.stossy11.MeloNX</key>
	<string>YES</string>
	<key>HideApp-com.summer.beat</key>
	<string>YES</string>
	<key>HideApp-com.summer.dark</key>
	<string>YES</string>
	<key>HideApp-com.tail.red</key>
	<string>YES</string>
	<key>HideApp-com.taobao.fleamarket</key>
	<string>YES</string>
	<key>HideApp-com.taobao.taobao4iphone</key>
	<string>YES</string>
	<key>HideApp-com.tencent.lolm</key>
	<string>YES</string>
	<key>HideApp-com.tencent.mqq</key>
	<string>YES</string>
	<key>HideApp-com.tencent.qqmail</key>
	<string>YES</string>
	<key>HideApp-com.tencent.watermarkcamera</key>
	<string>YES</string>
	<key>HideApp-com.tencent.wego</key>
	<string>YES</string>
	<key>HideApp-com.tencent.xin</key>
	<string>NO</string>
	<key>HideApp-com.tiger.branch</key>
	<string>YES</string>
	<key>HideApp-com.tigisoftware.Filza</key>
	<string>YES</string>
	<key>HideApp-com.tmri.12123</key>
	<string>YES</string>
	<key>HideApp-com.txzTwoWheeler</key>
	<string>YES</string>
	<key>HideApp-com.violet.wind</key>
	<string>YES</string>
	<key>HideApp-com.west.berry</key>
	<string>YES</string>
	<key>HideApp-com.wolf.base</key>
	<string>YES</string>
	<key>HideApp-com.wsgw.zsdl95598</key>
	<string>YES</string>
	<key>HideApp-com.wuba.zhuanzhuan</key>
	<string>YES</string>
	<key>HideApp-com.xhey.XCamera</key>
	<string>YES</string>
	<key>HideApp-com.xunlei.mvideo</key>
	<string>YES</string>
	<key>HideApp-com.xunmeng.pinduoduo</key>
	<string>YES</string>
	<key>HideApp-com.zhangchao.AudioPlayer</key>
	<string>YES</string>
	<key>HideApp-jp.dcsyhi.CarMovie</key>
	<string>YES</string>
	<key>HideApp-me.ele.ios.LPDCrowdsourceAppStore</key>
	<string>YES</string>
	<key>HideApp-org.coolstar.SileoStore</key>
	<string>YES</string>
	<key>HideApp-org.localsend.localsendApp</key>
	<string>YES</string>
	<key>HideApp-sb.moe.kumone</key>
	<string>YES</string>
	<key>HideApp-tv.danmaku.bilianime</key>
	<string>YES</string>
	<key>HideApp-wiki.qaq.ColorfulWallpaperX</key>
	<string>YES</string>
	<key>HideApp-wiki.qaq.TrollFools</key>
	<string>YES</string>
	<key>HideApp-wiki.qaq.fila</key>
	<string>YES</string>
	<key>HideApp-xxxxx.xxxxx</key>
	<string>YES</string>
	<key>HideAppOnLock</key>
	<true/>
	<key>HideAppTouch</key>
	<true/>
	<key>HideApps</key>
	<true/>
	<key>NetworkControl</key>
	<dict>
		<key>NetworkManager--1224</key>
		<string>YES</string>
		<key>NetworkManager-IFLYTEK.EPPD.PSC</key>
		<string>YES</string>
		<key>NetworkManager-ch.xxtou.XXTExplorer</key>
		<string>YES</string>
		<key>NetworkManager-chs.fj.keruidi-team.ChsToUy</key>
		<string>YES</string>
		<key>NetworkManager-cn.10086.app</key>
		<string>YES</string>
		<key>NetworkManager-cn.cyberIdentity.certification</key>
		<string>YES</string>
		<key>NetworkManager-cn.fkj233.airplayreceiver</key>
		<string>YES</string>
		<key>NetworkManager-cn.gblw.AppsDump</key>
		<string>YES</string>
		<key>NetworkManager-com.aapl.relaxin</key>
		<string>YES</string>
		<key>NetworkManager-com.alipay.iphoneclient</key>
		<string>YES</string>
		<key>NetworkManager-com.amywhile.Aemulo</key>
		<string>NO</string>
		<key>NetworkManager-com.antgroup.aijk.iphone</key>
		<string>YES</string>
		<key>NetworkManager-com.app.freshGuard</key>
		<string>YES</string>
		<key>NetworkManager-com.apple.AAUIViewService</key>
		<string>NO</string>
		<key>NetworkManager-com.apple.AMSEngagementViewService</key>
		<string>NO</string>
		<key>NetworkManager-com.apple.APSUIApp</key>
		<string>NO</string>
		<key>NetworkManager-com.apple.AXRemoteViewService</key>
		<string>NO</string>
		<key>NetworkManager-com.apple.AXUIViewService</key>
		<string>NO</string>
		<key>NetworkManager-com.apple.AccountAuthenticationDialog</key>
		<string>NO</string>
		<key>NetworkManager-com.apple.AppSSOUIService</key>
		<string>NO</string>
		<key>NetworkManager-com.apple.AppStore</key>
		<string>YES</string>
		<key>NetworkManager-com.apple.AskPermissionUI</key>
		<string>NO</string>
		<key>NetworkManager-com.apple.AskToMessagesHost</key>
		<string>NO</string>
		<key>NetworkManager-com.apple.AuthKitUIService</key>
		<string>NO</string>
		<key>NetworkManager-com.apple.AuthenticationServicesUI</key>
		<string>NO</string>
		<key>NetworkManager-com.apple.BacklinkIndicator</key>
		<string>NO</string>
		<key>NetworkManager-com.apple.BarcodeScanner</key>
		<string>NO</string>
		<key>NetworkManager-com.apple.Batteries</key>
		<string>NO</string>
		<key>NetworkManager-com.apple.BusinessChatViewService</key>
		<string>NO</string>
		<key>NetworkManager-com.apple.CBRemoteSetup</key>
		<string>NO</string>
		<key>NetworkManager-com.apple.CTCarrierSpaceAuth</key>
		<string>NO</string>
		<key>NetworkManager-com.apple.CTNotifyUIService</key>
		<string>NO</string>
		<key>NetworkManager-com.apple.CarPlaySettings</key>
		<string>NO</string>
		<key>NetworkManager-com.apple.CarPlaySetupApp</key>
		<string>NO</string>
		<key>NetworkManager-com.apple.CarPlaySplashScreen</key>
		<string>NO</string>
		<key>NetworkManager-com.apple.CarPlayWallpaper</key>
		<string>NO</string>
		<key>NetworkManager-com.apple.CheckerBoard</key>
		<string>NO</string>
		<key>NetworkManager-com.apple.ClarityCamera</key>
		<string>NO</string>
		<key>NetworkManager-com.apple.ClarityPhotos</key>
		<string>NO</string>
		<key>NetworkManager-com.apple.ClipViewService</key>
		<string>NO</string>
		<key>NetworkManager-com.apple.ClockAngel</key>
		<string>NO</string>
		<key>NetworkManager-com.apple.CloudKit.ShareBear</key>
		<string>NO</string>
		<key>NetworkManager-com.apple.CompanionViewService</key>
		<string>NO</string>
		<key>NetworkManager-com.apple.CompassCalibrationViewService</key>
		<string>NO</string>
		<key>NetworkManager-com.apple.ContactlessUIService</key>
		<string>NO</string>
		<key>NetworkManager-com.apple.ContactsUI.Carousel</key>
		<string>NO</string>
		<key>NetworkManager-com.apple.ContinuityCaptureShieldUI</key>
		<string>NO</string>
		<key>NetworkManager-com.apple.CoreAuthUI</key>
		<string>NO</string>
		<key>NetworkManager-com.apple.CredentialSharingService</key>
		<string>NO</string>
		<key>NetworkManager-com.apple.DemoApp</key>
		<string>NO</string>
		<key>NetworkManager-com.apple.Diagnostics</key>
		<string>NO</string>
		<key>NetworkManager-com.apple.DiagnosticsReporter</key>
		<string>NO</string>
		<key>NetworkManager-com.apple.DiagnosticsService</key>
		<string>NO</string>
		<key>NetworkManager-com.apple.DocumentsApp</key>
		<string>YES</string>
		<key>NetworkManager-com.apple.EventViewService</key>
		<string>NO</string>
		<key>NetworkManager-com.apple.EyeReliefUI</key>
		<string>NO</string>
		<key>NetworkManager-com.apple.FCAuthenticationUI</key>
		<string>NO</string>
		<key>NetworkManager-com.apple.FMDMagSafeSetupRemoteUI</key>
		<string>NO</string>
		<key>NetworkManager-com.apple.FTMInternal</key>
		<string>NO</string>
		<key>NetworkManager-com.apple.FaceTimeLinkTrampoline</key>
		<string>NO</string>
		<key>NetworkManager-com.apple.FinanceUIService</key>
		<string>NO</string>
		<key>NetworkManager-com.apple.Fitness</key>
		<string>YES</string>
		<key>NetworkManager-com.apple.FontInstallViewService</key>
		<string>NO</string>
		<key>NetworkManager-com.apple.GameCenterRemoteAlert</key>
		<string>NO</string>
		<key>NetworkManager-com.apple.HDSViewService</key>
		<string>NO</string>
		<key>NetworkManager-com.apple.Health</key>
		<string>YES</string>
		<key>NetworkManager-com.apple.Health.Sleep</key>
		<string>NO</string>
		<key>NetworkManager-com.apple.HealthENBuddy</key>
		<string>NO</string>
		<key>NetworkManager-com.apple.HealthENLauncher</key>
		<string>NO</string>
		<key>NetworkManager-com.apple.HealthPrivacyService</key>
		<string>NO</string>
		<key>NetworkManager-com.apple.HearingApp</key>
		<string>NO</string>
		<key>NetworkManager-com.apple.Home</key>
		<string>YES</string>
		<key>NetworkManager-com.apple.Home.HomeControlService</key>
		<string>NO</string>
		<key>NetworkManager-com.apple.Home.HomeUIService</key>
		<string>NO</string>
		<key>NetworkManager-com.apple.HomeCaptiveViewService</key>
		<string>NO</string>
		<key>NetworkManager-com.apple.InCallService</key>
		<string>NO</string>
		<key>NetworkManager-com.apple.InputUI</key>
		<string>NO</string>
		<key>NetworkManager-com.apple.MADViewService</key>
		<string>NO</string>
		<key>NetworkManager-com.apple.MBHelperApp</key>
		<string>NO</string>
		<key>NetworkManager-com.apple.MTLReplayer</key>
		<string>NO</string>
		<key>NetworkManager-com.apple.Magnifier</key>
		<string>NO</string>
		<key>NetworkManager-com.apple.MailCompositionService</key>
		<string>NO</string>
		<key>NetworkManager-com.apple.Maps</key>
		<string>YES</string>
		<key>NetworkManager-com.apple.MediaRemoteUI</key>
		<string>NO</string>
		<key>NetworkManager-com.apple.MediaRemoteUIService</key>
		<string>NO</string>
		<key>NetworkManager-com.apple.MobileAddressBook</key>
		<string>YES</string>
		<key>NetworkManager-com.apple.MobileReplayer</key>
		<string>NO</string>
		<key>NetworkManager-com.apple.MobileSMS</key>
		<string>YES</string>
		<key>NetworkManager-com.apple.MusicUIService</key>
		<string>NO</string>
		<key>NetworkManager-com.apple.NewDeviceOutreachApp</key>
		<string>NO</string>
		<key>NetworkManager-com.apple.PASViewService</key>
		<string>NO</string>
		<key>NetworkManager-com.apple.PCViewService</key>
		<string>NO</string>
		<key>NetworkManager-com.apple.PDUIApp</key>
		<string>NO</string>
		<key>NetworkManager-com.apple.PaperBoard</key>
		<string>NO</string>
		<key>NetworkManager-com.apple.Passbook</key>
		<string>YES</string>
		<key>NetworkManager-com.apple.PassbookSecureUIService</key>
		<string>NO</string>
		<key>NetworkManager-com.apple.PassbookUISceneService</key>
		<string>NO</string>
		<key>NetworkManager-com.apple.PassbookUIService</key>
		<string>NO</string>
		<key>NetworkManager-com.apple.PeopleMessageService</key>
		<string>NO</string>
		<key>NetworkManager-com.apple.PeopleViewService</key>
		<string>NO</string>
		<key>NetworkManager-com.apple.Photos.PhotosUIService</key>
		<string>NO</string>
		<key>NetworkManager-com.apple.PosterBoard</key>
		<string>NO</string>
		<key>NetworkManager-com.apple.PreBoard</key>
		<string>NO</string>
		<key>NetworkManager-com.apple.Preferences</key>
		<string>YES</string>
		<key>NetworkManager-com.apple.PreviewShell</key>
		<string>NO</string>
		<key>NetworkManager-com.apple.PrintKit.Print-Center</key>
		<string>NO</string>
		<key>NetworkManager-com.apple.ProximityReaderUIService</key>
		<string>NO</string>
		<key>NetworkManager-com.apple.PublicHealthRemoteUI</key>
		<string>NO</string>
		<key>NetworkManager-com.apple.RealityComposer</key>
		<string>YES</string>
		<key>NetworkManager-com.apple.RecoverDeviceUI</key>
		<string>NO</string>
		<key>NetworkManager-com.apple.RemotePassUIService</key>
		<string>NO</string>
		<key>NetworkManager-com.apple.RemoteiCloudQuotaUI</key>
		<string>NO</string>
		<key>NetworkManager-com.apple.SIMSetupUIService</key>
		<string>NO</string>
		<key>NetworkManager-com.apple.SOSBuddy</key>
		<string>NO</string>
		<key>NetworkManager-com.apple.SafariViewService</key>
		<string>NO</string>
		<key>NetworkManager-com.apple.SafetyMonitorApp</key>
		<string>NO</string>
		<key>NetworkManager-com.apple.ScreenSharingViewService</key>
		<string>NO</string>
		<key>NetworkManager-com.apple.ScreenTimeUnlock</key>
		<string>NO</string>
		<key>NetworkManager-com.apple.ScreenTimeWidgetApplication</key>
		<string>NO</string>
		<key>NetworkManager-com.apple.ScreenshotServicesService</key>
		<string>NO</string>
		<key>NetworkManager-com.apple.SharedWebCredentialViewService</key>
		<string>NO</string>
		<key>NetworkManager-com.apple.Sharing.AirDropUI</key>
		<string>NO</string>
		<key>NetworkManager-com.apple.SharingUIService</key>
		<string>NO</string>
		<key>NetworkManager-com.apple.SharingViewService</key>
		<string>NO</string>
		<key>NetworkManager-com.apple.ShazamEventsApp</key>
		<string>NO</string>
		<key>NetworkManager-com.apple.ShortcutsUI</key>
		<string>NO</string>
		<key>NetworkManager-com.apple.SleepLockScreen</key>
		<string>NO</string>
		<key>NetworkManager-com.apple.Spotlight</key>
		<string>NO</string>
		<key>NetworkManager-com.apple.SpringBoardEducation</key>
		<string>NO</string>
		<key>NetworkManager-com.apple.StoreDemoViewService</key>
		<string>NO</string>
		<key>NetworkManager-com.apple.SubcredentialUIService</key>
		<string>NO</string>
		<key>NetworkManager-com.apple.SystemPaperViewService</key>
		<string>NO</string>
		<key>NetworkManager-com.apple.TDGSharingViewService</key>
		<string>NO</string>
		<key>NetworkManager-com.apple.TVAccessViewService</key>
		<string>NO</string>
		<key>NetworkManager-com.apple.TVRemoteUIService</key>
		<string>NO</string>
		<key>NetworkManager-com.apple.TVSetupUIService</key>
		<string>NO</string>
		<key>NetworkManager-com.apple.Translate</key>
		<string>YES</string>
		<key>NetworkManager-com.apple.TrustMe</key>
		<string>NO</string>
		<key>NetworkManager-com.apple.UIKit.ColorPickerUIService</key>
		<string>NO</string>
		<key>NetworkManager-com.apple.UIKit.FontPickerUIService</key>
		<string>NO</string>
		<key>NetworkManager-com.apple.VSViewService</key>
		<string>NO</string>
		<key>NetworkManager-com.apple.VoiceMemos</key>
		<string>YES</string>
		<key>NetworkManager-com.apple.WebContentFilter.remoteUI.WebContentAnalysisUI</key>
		<string>NO</string>
		<key>NetworkManager-com.apple.WebSheet</key>
		<string>NO</string>
		<key>NetworkManager-com.apple.WorkoutRemoteViewService</key>
		<string>NO</string>
		<key>NetworkManager-com.apple.airplayreceiver</key>
		<string>NO</string>
		<key>NetworkManager-com.apple.appleseed.FeedbackAssistant</key>
		<string>NO</string>
		<key>NetworkManager-com.apple.calculator</key>
		<string>YES</string>
		<key>NetworkManager-com.apple.camera</key>
		<string>YES</string>
		<key>NetworkManager-com.apple.chrono.WidgetRenderer-CarPlay</key>
		<string>NO</string>
		<key>NetworkManager-com.apple.chrono.WidgetRenderer-Default</key>
		<string>NO</string>
		<key>NetworkManager-com.apple.compass</key>
		<string>NO</string>
		<key>NetworkManager-com.apple.ctkui</key>
		<string>NO</string>
		<key>NetworkManager-com.apple.datadetectors.DDActionsService</key>
		<string>NO</string>
		<key>NetworkManager-com.apple.dockkit.pairinguiservice</key>
		<string>NO</string>
		<key>NetworkManager-com.apple.family</key>
		<string>NO</string>
		<key>NetworkManager-com.apple.feedback.remote</key>
		<string>NO</string>
		<key>NetworkManager-com.apple.fieldtest</key>
		<string>NO</string>
		<key>NetworkManager-com.apple.findmy</key>
		<string>YES</string>
		<key>NetworkManager-com.apple.findmy.remoteuiservice</key>
		<string>NO</string>
		<key>NetworkManager-com.apple.freeform</key>
		<string>NO</string>
		<key>NetworkManager-com.apple.gamecenter.GameCenterUIService</key>
		<string>NO</string>
		<key>NetworkManager-com.apple.gamecenter.widgets</key>
		<string>NO</string>
		<key>NetworkManager-com.apple.iMessageAppsViewService</key>
		<string>NO</string>
		<key>NetworkManager-com.apple.icloud.FindMyDevice.FindMyExtensionContainer</key>
		<string>NO</string>
		<key>NetworkManager-com.apple.icq</key>
		<string>NO</string>
		<key>NetworkManager-com.apple.ios.StoreKitUIService</key>
		<string>NO</string>
		<key>NetworkManager-com.apple.measure</key>
		<string>NO</string>
		<key>NetworkManager-com.apple.mobilecal</key>
		<string>YES</string>
		<key>NetworkManager-com.apple.mobilemail</key>
		<string>YES</string>
		<key>NetworkManager-com.apple.mobilenotes</key>
		<string>YES</string>
		<key>NetworkManager-com.apple.mobilephone</key>
		<string>YES</string>
		<key>NetworkManager-com.apple.mobilesafari</key>
		<string>YES</string>
		<key>NetworkManager-com.apple.mobileslideshow</key>
		<string>YES</string>
		<key>NetworkManager-com.apple.mobilesms.compose</key>
		<string>NO</string>
		<key>NetworkManager-com.apple.mobiletimer</key>
		<string>YES</string>
		<key>NetworkManager-com.apple.musicrecognition</key>
		<string>NO</string>
		<key>NetworkManager-com.apple.purplebuddy</key>
		<string>NO</string>
		<key>NetworkManager-com.apple.reminders</key>
		<string>YES</string>
		<key>NetworkManager-com.apple.replaykitangel</key>
		<string>NO</string>
		<key>NetworkManager-com.apple.shortcuts</key>
		<string>YES</string>
		<key>NetworkManager-com.apple.shortcuts.runtime</key>
		<string>NO</string>
		<key>NetworkManager-com.apple.sidecar</key>
		<string>NO</string>
		<key>NetworkManager-com.apple.siri</key>
		<string>NO</string>
		<key>NetworkManager-com.apple.social.SLYahooAuth</key>
		<string>NO</string>
		<key>NetworkManager-com.apple.stocks</key>
		<string>YES</string>
		<key>NetworkManager-com.apple.supportapp</key>
		<string>YES</string>
		<key>NetworkManager-com.apple.susuiservice</key>
		<string>NO</string>
		<key>NetworkManager-com.apple.tips</key>
		<string>YES</string>
		<key>NetworkManager-com.apple.weather</key>
		<string>YES</string>
		<key>NetworkManager-com.apple.webapp</key>
		<string>NO</string>
		<key>NetworkManager-com.appworks.audiobook.radio</key>
		<string>YES</string>
		<key>NetworkManager-com.baidu.netdisk</key>
		<string>YES</string>
		<key>NetworkManager-com.beans.app</key>
		<string>YES</string>
		<key>NetworkManager-com.bhupesh.relaxingtanglepro</key>
		<string>YES</string>
		<key>NetworkManager-com.bot.doubao</key>
		<string>YES</string>
		<key>NetworkManager-com.callassist.batteryinfolist</key>
		<string>YES</string>
		<key>NetworkManager-com.ccb.ccbDemo</key>
		<string>YES</string>
		<key>NetworkManager-com.chinatower.towerEle</key>
		<string>YES</string>
		<key>NetworkManager-com.chinaunicom.mobilebusiness</key>
		<string>YES</string>
		<key>NetworkManager-com.cmcc.zhihuiguanjia</key>
		<string>YES</string>
		<key>NetworkManager-com.cnpc.iccard.query.app</key>
		<string>YES</string>
		<key>NetworkManager-com.comcsoft.izippro</key>
		<string>YES</string>
		<key>NetworkManager-com.cyjh.yy</key>
		<string>NO</string>
		<key>NetworkManager-com.dahuatech.app.dahuaChannel</key>
		<string>YES</string>
		<key>NetworkManager-com.dahuatech.configtools</key>
		<string>YES</string>
		<key>NetworkManager-com.dahuatech.lecheng</key>
		<string>YES</string>
		<key>NetworkManager-com.developlab.AnimationSpeed</key>
		<string>YES</string>
		<key>NetworkManager-com.developlab.CellularInfo</key>
		<string>NO</string>
		<key>NetworkManager-com.example.piliplus</key>
		<string>YES</string>
		<key>NetworkManager-com.feisuo.jxzs</key>
		<string>YES</string>
		<key>NetworkManager-com.geely.consumer</key>
		<string>YES</string>
		<key>NetworkManager-com.hikvision.videogo</key>
		<string>YES</string>
		<key>NetworkManager-com.hmmzzz.fontmanager</key>
		<string>NO</string>
		<key>NetworkManager-com.hmmzzz.marktheme</key>
		<string>NO</string>
		<key>NetworkManager-com.intsig.CamScannerLite</key>
		<string>YES</string>
		<key>NetworkManager-com.iosdump.Debs.Debs</key>
		<string>YES</string>
		<key>NetworkManager-com.iosdump.roothide</key>
		<string>NO</string>
		<key>NetworkManager-com.ivanobilenchi.icleaner</key>
		<string>NO</string>
		<key>NetworkManager-com.kdt.livecontainer</key>
		<string>NO</string>
		<key>NetworkManager-com.kingsoft.www.office.wpsoffice</key>
		<string>YES</string>
		<key>NetworkManager-com.le4.demo</key>
		<string>YES</string>
		<key>NetworkManager-com.lumiunited.pre.homekit</key>
		<string>YES</string>
		<key>NetworkManager-com.macxk.HDDJ</key>
		<string>YES</string>
		<key>NetworkManager-com.markmcguill.strongbox.pro</key>
		<string>YES</string>
		<key>NetworkManager-com.meituan.imeituan</key>
		<string>YES</string>
		<key>NetworkManager-com.minh-ton.Reynard</key>
		<string>YES</string>
		<key>NetworkManager-com.mlgm.idata</key>
		<string>NO</string>
		<key>NetworkManager-com.mlgm.ilog</key>
		<string>NO</string>
		<key>NetworkManager-com.opa334.TrollStore</key>
		<string>YES</string>
		<key>NetworkManager-com.openminis.app</key>
		<string>YES</string>
		<key>NetworkManager-com.ownbook.notes</key>
		<string>NO</string>
		<key>NetworkManager-com.qp333.carep</key>
		<string>YES</string>
		<key>NetworkManager-com.quark.browser</key>
		<string>YES</string>
		<key>NetworkManager-com.roothide.manager</key>
		<string>NO</string>
		<key>NetworkManager-com.roothide.patcher</key>
		<string>NO</string>
		<key>NetworkManager-com.sensetechlab.duodash</key>
		<string>NO</string>
		<key>NetworkManager-com.shadowloc.eric</key>
		<string>YES</string>
		<key>NetworkManager-com.soda.music</key>
		<string>YES</string>
		<key>NetworkManager-com.ss.iphone.ugc.Aweme</key>
		<string>YES</string>
		<key>NetworkManager-com.ssreader.ChaoXingStudy</key>
		<string>YES</string>
		<key>NetworkManager-com.stossy11.MeloNX</key>
		<string>YES</string>
		<key>NetworkManager-com.taobao.fleamarket</key>
		<string>YES</string>
		<key>NetworkManager-com.taobao.taobao4iphone</key>
		<string>YES</string>
		<key>NetworkManager-com.tencent.lolm</key>
		<string>YES</string>
		<key>NetworkManager-com.tencent.mqq</key>
		<string>YES</string>
		<key>NetworkManager-com.tencent.qqmail</key>
		<string>YES</string>
		<key>NetworkManager-com.tencent.wego</key>
		<string>YES</string>
		<key>NetworkManager-com.tencent.xin</key>
		<string>YES</string>
		<key>NetworkManager-com.tigisoftware.Filza</key>
		<string>NO</string>
		<key>NetworkManager-com.tmri.12123</key>
		<string>YES</string>
		<key>NetworkManager-com.txzTwoWheeler</key>
		<string>YES</string>
		<key>NetworkManager-com.wuba.zhuanzhuan</key>
		<string>YES</string>
		<key>NetworkManager-com.xhey.XCamera</key>
		<string>YES</string>
		<key>NetworkManager-com.xunmeng.pinduoduo</key>
		<string>YES</string>
		<key>NetworkManager-com.zhangchao.AudioPlayer</key>
		<string>YES</string>
		<key>NetworkManager-jp.dcsyhi.CarMovie</key>
		<string>YES</string>
		<key>NetworkManager-me.ele.ios.LPDCrowdsourceAppStore</key>
		<string>YES</string>
		<key>NetworkManager-org.coolstar.SileoStore</key>
		<string>YES</string>
		<key>NetworkManager-org.localsend.localsendApp</key>
		<string>YES</string>
		<key>NetworkManager-org.zhaohe.MiniWatts</key>
		<string>NO</string>
		<key>NetworkManager-sb.moe.kumone</key>
		<string>YES</string>
		<key>NetworkManager-tv.danmaku.bilianime</key>
		<string>YES</string>
		<key>NetworkManager-wiki.qaq.ColorfulWallpaperX</key>
		<string>YES</string>
		<key>NetworkManager-wiki.qaq.TrollFools</key>
		<string>YES</string>
		<key>NetworkManager-wiki.qaq.fila</key>
		<string>NO</string>
		<key>NetworkManager-xxxxx.xxxxx</key>
		<string>YES</string>
	</dict>
	<key>OK</key>
	<integer>1</integer>
	<key>PasswordMethod</key>
	<integer>1</integer>
	<key>TrustWifi_Hide</key>
	<dict>
		<key>--</key>
		<true/>
		<key>66</key>
		<true/>
		<key>==</key>
		<true/>
		<key>CMCC-0352</key>
		<true/>
		<key>CMCC-52KJ</key>
		<true/>
		<key>CMCC-Ettn_Wi-Fi5</key>
		<true/>
		<key>CMCC-Ettn_Wi-Fi5-5G</key>
		<true/>
		<key>ChinaNet-FAC7EA</key>
		<true/>
		<key>MarsWiFi6348</key>
		<true/>
	</dict>
	<key>hidePwd</key>
	<string>nnn</string>
	<key>isReady</key>
	<integer>1</integer>
	<key>showPwd</key>
	<string>mmm</string>
</dict>
</plist>
