<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>clipboardHistory</key>
	<array>
		<string>UCFP:5728b9c9-1f2f-4957-8bf3-48d268be937f-1789817137055:https://m.uc.cn</string>
		<string>/var/mobile/Containers/Shared/AppGroup/.jbroot-135A7308A16AF20B/var/mobile/Documents/AstraBoard_语言包_中文 (1)/AppOptions.strings</string>
		<string>https://bvnrepo.xyz/</string>
		<string>/var/mobile/Containers/Shared/AppGroup/.jbroot-135A7308A16AF20B/var/mobile/Documents/AstraBoard_语言包_中文/AppOptions.strings</string>
	</array>
	<key>dock_items2</key>
	<array>
		<data>
		YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9i
		amVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGmCwwbHB0e
		VSRudWxs1w0ODxAREhMUFRQXGBkUXXN5c0ltYWdlTmFtZWRWJGNsYXNzW2Rp
		c3BsYXlOYW1lWm1vZHVsZU5hbWVZaXNDdXN0b21lWWltYWdlTmFtZVdpbWdE
		YXRhgACABYAAgAKABIADgABfEA9EaXNtaXNzIEtleWJvYXJfEB1rZXlib2Fy
		ZC5jaGV2cm9uLmNvbXBhY3QuZG93bgjSHyAhIlokY2xhc3NuYW1lWCRjbGFz
		c2VzXEtCTW9kdWxlSW5mb6IjJFxLQk1vZHVsZUluZm9YTlNPYmplY3QACAAR
		ABoAJAApADIANwBJAEwAUQBTAFoAYABvAH0AhACQAJsApQCvALcAuQC7AL0A
		vwDBAMMAxQDXAPcA+AD9AQgBEQEeASEBLgAAAAAAAAIBAAAAAAAAACUAAAAA
		AAAAAAAAAAAAAAE3
		</data>
		<data>
		YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9i
		amVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGmCwwbHB0e
		VSRudWxs1w0ODxAREhMUFRQXGBkUXXN5c0ltYWdlTmFtZWRWJGNsYXNzW2Rp
		c3BsYXlOYW1lWm1vZHVsZU5hbWVZaXNDdXN0b21lWWltYWdlTmFtZVdpbWdE
		YXRhgACABYAAgAKABIADgABVUGFzdGVfEBBkb2Mub24uY2xpcGJvYXJkCNIf
		ICEiWiRjbGFzc25hbWVYJGNsYXNzZXNcS0JNb2R1bGVJbmZvoiMkXEtCTW9k
		dWxlSW5mb1hOU09iamVjdAAIABEAGgAkACkAMgA3AEkATABRAFMAWgBgAG8A
		fQCEAJAAmwClAK8AtwC5ALsAvQC/AMEAwwDFAMsA3gDfAOQA7wD4AQUBCAEV
		AAAAAAAAAgEAAAAAAAAAJQAAAAAAAAAAAAAAAAAAAR4=
		</data>
		<data>
		YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9i
		amVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGmCwwbHB0e
		VSRudWxs1w0ODxAREhMUFRQXGBkUXXN5c0ltYWdlTmFtZWRWJGNsYXNzW2Rp
		c3BsYXlOYW1lWm1vZHVsZU5hbWVZaXNDdXN0b21lWWltYWdlTmFtZVdpbWdE
		YXRhgACABYAAgAKABIADgABXQ29weUxvZ1tib29rLmNsb3NlZAjSHyAhIlok
		Y2xhc3NuYW1lWCRjbGFzc2VzXEtCTW9kdWxlSW5mb6IjJFxLQk1vZHVsZUlu
		Zm9YTlNPYmplY3QACAARABoAJAApADIANwBJAEwAUQBTAFoAYABvAH0AhACQ
		AJsApQCvALcAuQC7AL0AvwDBAMMAxQDNANkA2gDfAOoA8wEAAQMBEAAAAAAA
		AAIBAAAAAAAAACUAAAAAAAAAAAAAAAAAAAEZ
		</data>
		<data>
		YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9i
		amVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGlCwwTFBVV
		JG51bGzTDQ4PEBESV2FwcE5hbWVdYXBwSWRlbnRpZmllclYkY2xhc3OAAoAD
		gARiX65P4V8QD2NvbS50ZW5jZW50LnhpbtIWFxgZWiRjbGFzc25hbWVYJGNs
		YXNzZXNZS0JBcHBJbmZvohgaWE5TT2JqZWN0CBEaJCkyN0lMUVNZX2ZufIOF
		h4mOoKWwucPGAAAAAAAAAQEAAAAAAAAAGwAAAAAAAAAAAAAAAAAAAM8=
		</data>
		<data>
		YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9i
		amVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGlCwwTFBVV
		JG51bGzTDQ4PEBESV2FwcE5hbWVdYXBwSWRlbnRpZmllclYkY2xhc3OAAoAD
		gARijEZTBV5jb20uYm90LmRvdWJhb9IWFxgZWiRjbGFzc25hbWVYJGNsYXNz
		ZXNZS0JBcHBJbmZvohgaWE5TT2JqZWN0CBEaJCkyN0lMUVNZX2ZufIOFh4mO
		naKttsDDAAAAAAAAAQEAAAAAAAAAGwAAAAAAAAAAAAAAAAAAAMw=
		</data>
	</array>
	<key>kEnabled</key>
	<integer>1</integer>
</dict>
</plist>
